      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: arial;
      }



      body {
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-size: 7.5vmin;
      }
      #game-board {

        display: grid;
        grid-template-columns: repeat(var(--grid-size), var(--cell-size));
        grid-template-rows: repeat(var(--grid-size), var(--cell-size));
        background: #ccc;
        gap: var(--cell-gap);
        border-radius: 1vmin;
        padding: 2vmin;
        position: relative;
      }

      .cell {
        background: #555;
        border-radius: 1vmin;
      }
      .tiles {
        --x: 1;
        --y: 2;
        --background-brightness: 80%;
        --text-brightness: 20%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--cell-size);
        width: var(--cell-size);
        background-color: red;
        border-radius: 1vmin;
        font-weight: bolder;
        top: calc(
          var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)
        );
        left: calc(
          var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)
        );
        background-color: hsl(200, 50%, var(--background-brightness));
        color: hsl(200, 25%, var(--text-brightness));
        animation: show 300ms ease-in-out;
        transition: 100ms ease-in-out;
      }

      @keyframes show{
        0%{
            opacity: .5;
            transform: scale(0);
        }
      }
    